<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexServiceBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="FinalTourService_991522132.TourService_991522132" behaviorConfiguration="mexServiceBehaviour">
				<endpoint address="AccountServices" binding="basicHttpBinding" contract="FinalTourService_991522132.IAuthenticateUserService"></endpoint>
				<endpoint address="AccountServices" binding="netTcpBinding" contract="FinalTourService_991522132.IDBOperationService"></endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>

				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080"/>
						<add baseAddress="net.tcp://localhost:8090"/>
					</baseAddresses>
				</host>



			</service>
		</services>




	</system.serviceModel>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>